ul {
    margin: 0;
    padding: 0;
}

li {
    width: 20%;
    float: left;
    box-sizing: border-box;
}

a {
    display: block;
    padding: 20px 40px;
    text-align: center;
    background-color: #434343;
    color: #7B7B7B;
    margin: -5px 0;  
    border-bottom: 5px solid #434343;     
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;     
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: #7B7B7B;
}

a:hover {
    margin: -5px 0;
    border-bottom: 5px solid #86F92C;
    -webkit-transition: border-bottom 1s ease-in-out;
    transition: border-bottom 1s ease-in-out;        
}

a span {
    transform: rotateY(720deg);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

a:hover span {
    color: #fff;    
    transform: rotateY(360deg);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}